*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.About{
    width: 100%;
    height: 100vh;
    /*border: 1px solid red;*/
    margin-top: 5%;
}
.son{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 35px;
    text-align: center;
    padding: 0  900px 0  0;
}

.book1{
    margin-left: 65%;
}


.dr{
    margin-top: 10%;
}


.Welcome{
    justify-content: center;
    align-items: center;
    /*display: flex;*/
    flex-direction: column;
    margin-left: 6%;
    /*border: 1px solid red;*/
    width: 50%;

    margin-top: 5%;
    position: absolute;
}
.ftr{
    width: 99%;
    margin-top: 10%;
}
.welcomeh2{
    font-size: 65px;
    color: #2CC84D;
    font-weight: 400;
    /*width: 35%;*/
    margin-left: 10%;
    margin-top: 10%;
}
.act{
    width: 30%;
}
.welcomwp{
    font-size: 22px;
    width: 90%;
    /*font-weight: bold;*/
    color: grey;
    margin-left: 10%;
    margin-top: 3%;
}

@media (min-width:300px) and (max-width: 550px){
    .About{
        width: 100%;
        height: auto;

    }
.book1{
    margin-left: 4%;
    margin-top: 15%;
}
.Our{
    width: 80%;
    margin-top: 100%;
    position: absolute;
    margin-left: 8%;
}
.Welcome{
    width: 80%;
    margin-top: 170%;
    margin-left: 15%;
    /*border: 1px solid red;*/
    position: absolute;
}

.ftr{
    margin-top: 255%;
    width: 379px;
}
.dr{
    margin-top:250%;
}
}




