*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer1{
    margin-top: 5%;
    width: 100%;
    position: absolute;
}

.ph1{
    margin-left: 12%;
    color: white;
    margin-top: 10px;
position: absolute;
}
.ph2{
    margin-left: 4%;
    margin-top: 10px;    color: white;
position: absolute;

}
.phone01{
    width: 2%;
    margin-top:2px;
    margin-left: 42%;
position: absolute;
}
.inst{
    color: white;
    font-size: 30px;
    margin-left: 40%;
}