*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maps1{
    height: 85%;
    width: 130%;
    margin-left: 15%;
    margin-top: 15%;
}
.footer {
    width: 103% ;
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    margin-left: -30px;
    margin-top: 4%;

}
.a1{
    display: flex;
    color: white;
    font-size: 18px;
    margin-top: -2%;
}
.a2{
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 2px;
}
.a3{
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 2px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}
.card {
    text-align: left;
    color: white ;
    margin-top: -11%;
}

.footer-column {
    flex: 1;
    text-align: center;
    margin-left: 2%;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}
.f1{
    font-size: 20px;
    color: #fff;
    margin: 0 10px;


}.f2{
     font-size: 20px;
     color: #fff;
     margin: 0 10px;

 }.f3{
      font-size: 20px;
      color: #fff;
      margin: 0 10px;
  }
  .phon1{
      margin-top: 16%;
      margin-left: -135%;
  }
.instagram{
    font-size: 30px;
    color: #ffffff;

}
.telegram{
    font-size: 20px;
    margin-left: 2%;
    color: #ffffff;
}
.facebook{
    font-size: 25px;
    margin-left: 2%;
    color: #ffffff;

}
.ytb{

    margin-left: 40%;
    margin-top: -17%;
    position: absolute;
    color: white;
    font-size: 35px;
}
.syt{
    margin-left: 77%;
    width: 15%;
    height: 10%;
    /*border: 1px solid white;*/
    z-index: 1;
    position: relative;
    font-size: 21px;
    margin-top: -2%;
}
.inst{
    color: white;
    font-size: 32px;
    margin-left: 20%;
    margin-top: -17%;
    position: absolute;
}

@media (min-width:300px) and (max-width: 550px) {
.footer{
    width: 412px;
    position: absolute;
    margin-top: 20%;
    height: 140%;
}
    .phon1{
        margin-top: -193%;
        margin-left: 1%;
    }

    .maps1{
        width: 90%;
        height: 50%;
        margin-left: 3%;
        margin-top: -1px;
    }
    .ish{
        margin-top: -72%;
        margin-left: 8%;
        width: 80%;
        height: 55%;
        /*border: 1px solid red;*/
    }

    .footer-container {
        flex-direction: column;
        /*border: 1px  solid red;*/

    }


    .syt{
        width: 10%;
        /*border: 1px solid white;*/
        height: 15%;
        margin-top:14%;
        position: absolute;
        margin-left: 82%;
    }
.inst{
    margin-top: 5%;
    margin-left: -1%;
}
.ytb{
    margin-top: 100%;
    margin-left: -1%;
}
    .footer-column {
        margin-bottom: 20px;

    }


}

/* Boshqa mediakversiyalarga moslik uchun qo'shimcha CSS kodlari yozishingiz mumkin */